<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 상세 보기</title>
    <link rel="stylesheet" href="/css/postpage/postpage_styles.css">
</head>
<body>
<div class="toggle-mode">
    <label class="switch">
        <input type="checkbox" id="modeToggle">
        <span class="slider"></span>
    </label>
</div>
<div class="container">
    <main>
        <div id="postDetail" class="post-detail">
        </div>
        <div id="errorMessage" class="error-message" style="display: none;"></div>
    </main>
</div>
<script src="/js/postpage/postpage_script.js"></script>
</body>
</html>